<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Catalyst uses Finder to launch applications that require Finder-compatible startup.</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>Catalyst</string>
    <key>CFBundleIdentifier</key>
    <string>com.andrewbellucci.catalyst</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>Catalyst.icns</string>
    <key>CFBundleName</key>
    <string>Catalyst</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Catalyst uses the camera only when you open Camera Preview.</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Catalyst uses System Events only when you run a macOS system command.</string>
</dict>
</plist>
